# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ijse\layered-pos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
